<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- own css -->
    <link rel="stylesheet" href="public/css/pilihgender.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title></title>
  </head>
  <body>

    <div class="container-fluid" style="width:100%; height:100%"> 
      <div class="row satu">
         <div class="col-xs-6 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4 text-center">
          <h6>Pilih gender Anda</h6><span style=""></span>
        </div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-4"></div>
      </div>

      <div class="row dua">
         <div class="col-xs-6 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4">
          <a id="ikhwan" href="{{ base_url()}}/form-satu?g=ikhwan">
            <div class="float-left figura">
              <img class="img float-left" src="public/assets/images/ikhwan.png" alt="">
              <div class="middle"></div>
                <br>
                <br>
              <p class="text-center" style="margin-top: 78%; color: white">Ikhwan</p>
            </div>
            </a>
          <span></span>
          <a id="akhwat" href="{{ base_url()}}/form-satu?g=akhwat">
            <div class="float-right figura">
            <img class ="img float-right" src="public/assets/images/akhwat.png" alt="">
              <div class="middle"></div>
                            <br>
                <br>
              <p class="text-center" style="margin-top: 78%; color: white">Akhwat</p>
            </div>
            </a>
          </div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-4"></div>
      </div>


        <div class="row empat">
         <div class="col-xs-6 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4 text-center">
          <h6>Sudah mempunyai akun? login <a href="http://localhost/Project/TLN/login" style="text-decoration: none; color: white"><b >disini</b></a></h6>
        </div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-4"></div>
      </div>



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>  
// $('#ikhwan').click(function(event) {
//   /* Act on the event */
//   var url = window.location.href;
//   $('#ikhwan').attr('href', url+'form-satu?g=ikhwan');
// });
// $('#akhwat').click(function(event) {
//   /* Act on the event */
//   var url = window.location.href;
//   $('#akhwat').attr('href', url+'form-satu?g=akhwat');
// });


</script>
  </body>
</html>
